{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Change Password {% endblock %}

{% block content %}
  <div class="row justify-content-start">
    <div class="col-3"></div>
    <div class="col-6 my-4 p-3 border rounded-3 bg-light shadow">
      <h2 class="text-center">Change Password</h2><br>
      <form class="px-2" method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button class="btn btn-success" type="submit">Change Password</button>
          <a class="ps-2" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}