name: Code formatting check and tests

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        ports:
          - "5432:5432"
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.10'
          cache: 'poetry'

      - name: Install Dependencies
        run: |
          poetry install
      - name: Lint with flake8
        run: |
          poetry run flake8 src

      - name: Apply migrations
        working-directory: ./src
        run: |
          poetry run python manage.py migrate
      - name: Run tests
        working-directory: ./src
        run: |
          poetry run python manage.py test
