name: Code formatting check

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.10'
          cache: 'poetry'
      - name: Install Dependecies
        run: |
          poetry install
      - name: Lint with flake8
        run: |
          poetry run flake8 .
